
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" placeholder="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputPassword">Clave</label>
        <input type="password" placeholder="clave" class="form-control" />
    </div>
    <div class="checkbox">
        <label><input type="checkbox"/>Recordarme</label>
    </div>
    <div class="checkbox">
        <button type="submit" class="btn btn-primary">Iniciar Sesi&oacute;n</button>
    </div>
</form>
