
@{
    ViewBag.Title = "Panel";
}

<h2>Panel</h2>

<div class="panel panel-default" >
    <div class="panel-heading">
        <h3 class="panel-title">Titulo del Panel</h3>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3">Empresa</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>