
@{
    ViewBag.Title = "Listar";
}

<h2>Vista correspondiente a la acci&oacute;n LISTAR</h2>

<div>
    @for(int i = 0;i < ViewBag.NumeroVeces; i++)
    {
        <ul>@ViewBag.Titulo</ul>
    }

</div>
