
@{
    ViewBag.Title = "Imagen";
}

<h2>Imagen</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img src="~/Imagenes/empresa.jpg" 
                     class="img-responsive"/>
            </a>
        </div>        
    </div>
</div>
